<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <p><%= f.input  :email,    label: t('email')   %></p>
  <p><%= f.input  :password, label: t('password')%></p>
  <p><%= f.input  :password_confirmation, label: t('password_confirmation')%></p>
  <p><%= f.input  :locale, label: t('locale'), collection: ["en", "ru"], as: :radio_buttons %></p>
  <p><%= f.button :submit, t('update_profile') %></p>
<% end %>
