<%= simple_form_for @card do |f| %>
  <p><%= f.input :original,   label: t(:original_text) %></p>
  <p><%= f.input :translated, label: t(:translated_text) %></p>
  <p><%= f.association :deck, collection: current_user.decks, label: t(:deck) %></p>
  <p><%= image_tag @card.avatar_url(:thumb) if @card.avatar? %></p>
  <p><%= f.input :avatar, label: t(:avatar) %></p>
  <%= f.input :remove_avatar, as: :boolean if @card.avatar? %>
  <%= f.button :submit, t(:create_card) %>
<% end %>