<% if @card %>
  <%= @card.translated %>
  <%= form_tag search_path do %>
    <%= hidden_field_tag(:card_id, @card.id) %>
    <%= label_tag      t(:translated_text) %>
    <%= text_field_tag   :answer %>
    <%= submit_tag     t(:check_answer) %>
    <% end %>
  <p><%= image_tag @card.avatar_url  %></p>
<% end %>

