<h1><%= t :listing_cards %></h1>

<table>
  <tr>
    <th><%= t 'original_text'   %></th>
    <th><%= t 'translated_text' %></th>
    <th><%= t 'date_review'    %></th>
    <th><%= t 'deck'            %></th>
    <th><%= t 'avatar'          %></th>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original   %></td>
      <td><%= card.translated %></td>
      <td><%= card.review     %></td>
      <td><%= card.deck.name  %></td>
      <td><%= image_tag card.avatar_url(:thumb) %></td>
      <td><%= link_to t('edit'), edit_card_path(card) %></td>
      <td><%= link_to t('delete'),  card_path(card),
              method: :delete %></td>
    </tr>
  <% end %>
</table>