<h1>Список карточек</h1>

<table>
  <tr>
    <th>true_answers</th>
    <th>try</th>
    <th>Original  </th>
    <th>Translated</th>
    <th>Review    </th>
    <th>Deck      </th>
    <th>Avatar    </th>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td><%= card.true_answers   %></td>
      <td><%= card.try   %></td>      
      <td><%= card.original   %></td>
      <td><%= card.translated %></td>
      <td><%= card.review     %></td>
      <td><%= card.deck_id  %></td>
      <td><%= image_tag card.avatar_url(:thumb) %></td>
      <td><%= link_to 'Редактировать', edit_card_path(card) %></td>
      <td><%= link_to 'Удалить',  card_path(card),
              method: :delete %></td>
    </tr>
  <% end %>
</table>