<h1>Список карточек</h1>

<table>
	<tr>
		<th>Original  </th>
		<th>Translated</th>
		<th>Review    </th>
	</tr>

	<% @cards.each do |card| %>

		<tr>
			<td><%= card.original   %></td>
			<td><%= card.translated %></td>
			<td><%= card.review     %></td>
			<td><%= link_to 'изменить', edit_card_path(card) %></td>
			<td><%= link_to 'удалить',  card_path(card), 
							method: :delete,
							data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>

</table>