<p>
  <strong>Original</strong>
  <%= @card.original %>
</p>
 
<p>
  <strong>Translated</strong>
  <%= @card.translated %>
</p>

<p>
  <strong>Review</strong>
  <%= @card.review %>
</p>

<p>
  <strong>Deck</strong>
  <%= @card.deck_id %>
</p>

<p>
  <strong>Avatar</strong>
  <%= image_tag @card.avatar_url(:thumb) %>
</p>
