<p>
  <strong><%= t 'original_text' %></strong>
  <%= @card.original %>
</p>
 
<p>
  <strong><%= t 'translated_text' %></strong>
  <%= @card.translated %>
</p>

<p>
  <strong><%= t 'date_review' %></strong>
  <%= @card.review %>
</p>

<p>
  <strong><%= t 'deck' %></strong>
  <%= @card.deck.name %>
</p>

<p>
  <strong><%= t 'avatar' %></strong>
  <%= image_tag @card.avatar_url(:thumb) %>
</p>
